<td>
    <table border="0">
        <tr>
            <td style="width:300px">Naam:</td>
            <td>{{ getNodeProperty(node, 'Name') }}</td>
        </tr>
        <tr>
            <td>Hoogte:</td>
            <td>{{ getNodeProperty(node, 'Hoogte') }}</td>
        </tr>
        <tr>
            <td>Breedte:</td>
            <td>{{ getNodeProperty(node, 'Breedte') }}</td>
        </tr>
        <tr>
            <td>Diepte:</td>
            <td>{{ getNodeProperty(node, 'Diepte') }}</td>
        </tr>
        <tr>
            <td>Meegeleverde Fans:</td>
            <td>{{ getNodeProperty(node, 'MeegeleverdeFans') }}</td>
        </tr>
        <tr>
            <td>Kleuren:</td>
            <td>{{ getNodeProperty(node, 'Kleuren') }}</td>
        </tr>
        <tr>
            <td>Fan Poorten:</td>
            <td>{{ getNodeProperty(node, 'FanPoorten') }}</td>
        </tr>
        <tr>
            <td>Behuizingtype:</td>
            <td>{{ getNodeProperty(node, 'Behuizingtype') }}</td>
        </tr>
        <tr>
            <td>Voeding Plaats:</td>
            <td>{{ getNodeProperty(node, 'VoedingPlaats') }}</td>
        </tr>
        <tr>
            <td>Grafische Kaart Maximum Lengte:</td>
            <td>{{ getNodeProperty(node, 'GrafischeKaartMaximumLengte') }}</td>
        </tr>
        <tr>
            <td>CPU Koeler Maximum Hoogte:</td>
            <td>{{ getNodeProperty(node, 'CPUKoelerMaximumHoogte') }}</td>
        </tr>
        <tr>
            <td>Materialen:</td>
            <td>{{ getNodeProperty(node, 'Materialen') }}</td>
        </tr>
        <tr>
            <td>Merk:</td>
            <td>{{ getNodeProperty(node, 'Merk') }}</td>
        </tr>
        <tr>
            <td>Artikelnummer:</td>
            <td>{{ getNodeProperty(node, 'ModelID') }}</td>
        </tr>
    </table>
</td>