<td>
    <table border="0">
        <tr>
            <td style="width:200px">Hoogte:</td>
            <td>{{ getNodeProperty(node, 'Hoogte') }}</td>
        </tr>
        <tr>
            <td>Diameter:</td>
            <td>{{ getNodeProperty(node, 'Diameter') }}</td>
        </tr>
        <tr>
            <td>Rotatiesnelheid (Min):</td>
            <td>{{ getNodeProperty(node, 'RotatiesnelheidMin') }}</td>
        </tr>
        <tr>
            <td>Rotatiesnelheid (Max):</td>
            <td>{{ getNodeProperty(node, 'RotatiesnelheidMax') }}</td>
        </tr>
        <tr>
            <td>Geluidssterkte:</td>
            <td>{{ getNodeProperty(node, 'Geluidssterkte') }}</td>
        </tr>
        <tr>
            <td>Sockets:</td>
            <td>{{ getNodeProperty(node, 'Socket') }}</td>
        </tr>
        <tr>
            <td>Artikelnummer:</td>
            <td>{{ getNodeProperty(node, 'ModelID') }}</td>
        </tr>
    </table>
</td>