<td>
    <table border="0">
        <tr>
            <td style="width:200px">Naam:</td>
            <td>{{ getNodeProperty(node, 'product') }}</td>
        </tr>
        <tr>
            <td>Geheugen:</td>
            <td>{{ getNodeProperty(node, 'Geheugengrootte') }}</td>
        </tr>
        <tr>
            <td>Soort:</td>
            <td>{{ getNodeProperty(node, 'CardInterface') }}</td>
        </tr>
        <tr>
            <td>Snelheid Videochip:</td>
            <td>{{ getNodeProperty(node, 'NominaleSnelheidVideochip') }}</td>
        </tr>
        <tr>
            <td>Videochip Fabrikant:</td>
            <td>{{ getNodeProperty(node, 'Videochipfabrikant') }}</td>
        </tr>
        <tr>
            <td>OpenGL Versie:</td>
            <td>{{ getNodeProperty(node, 'OpenGLversion') }}</td>
        </tr>
        <tr>
            <td>DirectX version:</td>
            <td>{{ getNodeProperty(node, 'DirectXversion') }}</td>
        </tr>
        <tr>
            <td>Geheugen Snelheid:</td>
            <td>{{ getNodeProperty(node, 'GeheugenSnelheid') }}</td>
        </tr>
        <tr>
            <td>Merk:</td>
            <td>{{ getNodeProperty(node, 'brand') }}</td>
        </tr>
        <tr>
            <td>Artikelnummer:</td>
            <td>{{ getNodeProperty(node, 'ModelID') }}</td>
        </tr>
    </table>
</td>