<td>
    <table border="0">
        <tr>
            <td style="width:200px">Naam:</td>
            <td>{{ getNodeProperty(node, 'product') }}</td>
        </tr>
        <tr>
            <td>Aantal PCI-e Slots:</td>
            <td>{{ getNodeProperty(node, 'AantalPCI-ex16Slots') }}</td>
        </tr>
        <tr>
            <td>Geheugentype:</td>
            <td>{{ getNodeProperty(node, 'Geheugentype') }}</td>
        </tr>
        <tr>
            <td>Socket:</td>
            <td>{{ getNodeProperty(node, 'socket') }}</td>
        </tr>
        <tr>
            <td>Aantal Sockets:</td>
            <td>{{ getNodeProperty(node, 'AantalSockets') }}</td>
        </tr>
        <tr>
            <td>Merk:</td>
            <td>{{ getNodeProperty(node, 'brand') }}</td>
        </tr>
        <tr>
            <td>Artikelnummer:</td>
            <td>{{ getNodeProperty(node, 'ModelID') }}</td>
        </tr>
    </table>
</td>