<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th class="compare-table"></th>
            {% for item in nodes %}
                <th>{{ getNodeProperty(item, 'Name') }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="compare-table">Prijs: </td>
            {% for item in nodes %}
                <td>{{ getNodePrice(item) }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td class="compare-table">Type: </td>
            {% for item in nodes %}
                <td>{{ getNodeProperty(item, 'Geheugentype') }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td class="compare-table">Aantal: </td>
            {% for item in nodes %}
                <td>{{ getNodeProperty(item, 'Aantal') }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td class="compare-table">Geheugen CAS Latency: </td>
            {% for item in nodes %}
                <td>{{ getNodeProperty(item, 'GeheugenCASLatency') }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td class="compare-table">Artikelnummer: </td>
            {% for item in nodes %}
                <td>{{ getNodeProperty(item, 'ModelID') }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>