<td>
    <table border="0">
        <tr>
            <td style="width:150px">Node id:</td>
            <td>{{ getNodeID(node) }}</td>
        </tr>
        <tr>
            <td>Naam:</td>
            <td>{{ getNodeName(node) }}</td>
        </tr>
        <tr>
            <td>Omschrijving:</td>
            <td>{{ getNodeDesc(node) }}</td>
        </tr>
        <tr>
            <td>Categorie:</td>
            <td>{{ getNodeCat(node) }}</td>
        </tr>
        <tr>
            <td>Info:</td>
            <td>{{ getNodePrice(node) }}</td>
        </tr>
    </table>
</td>